[Unit]
Description=Odoo CMD
After=biznavi.service

[Service]
User=biznavi
Group=biznavi
WorkingDirectory=/opt/biznavi/odoo_cmd/
ExecStart=/opt/biznavi/odoo_cmd/odoo_cmd
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target